@keyframes banner{
    25%{
        background-image: url('../img/padaria.jpg');
    }
    50%{
        background-image: url('../img/verduras.jpg');
    }
    75%{
        background-image: url('../img/frutas.jpg');
    }
    100%{
        background-image: url('../img/açougue.jpg');
    }

}

@keyframes hortifruti{
    25%{
        background-image: url('../img/bolacha/bono-capa.jpg');
    }
    50%{
        background-image: url('../img/bolacha/capa-passatempo.jpg');
    }
    75%{
        background-image: url('../img/bolacha/micos-capa.jpg');
    }
    100%{
        background-image: url('../img/bolacha/capa-rancheiro.jpg');
    }
}

@keyframes açougue{
    25%{
        background-image: url('../img/açougue.jpg');
    }
    50%{
        background-image: url('../img/almondegas.jpg');
    }
    75%{
        background-image: url('../img/linguiça.jpg');
    }
    100%{
        background-image: url('../img/frango.jpg');
    }
}

@keyframes padaria{
    25%{
        background-image: url('../img/padaria.jpg');
    }
    50%{
        background-image: url('../img/padaria1.jpg');
    }
    75%{
        background-image: url('../img/padaria2.jpg');
    }
    100%{
        background-image: url('../img/padaria3.jpg');
    }
}